/* Navbar */

.navbar {
    width: 1440px;
    height: 56px;
    background: #FFF2F2;
}

.navbar-brand {
    margin-left: 100px;
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.05em;

    color: #D16969 !important;
}

/* Tutup Navbar */

.left {
    margin-top: 120px;
}

.booking-info h5{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #000000;
}

.form-data label{
    padding-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;

}

.form-data-info{
    width: 300px;
    height: 30px;

    background: #FCFCFC;
    border: 1px solid #1B1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: #000000;
}

.form-data::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: #818181;
}

.form-data-alamat {
    width: 430px;
    height: 40px;
    
    background: #FCFCFC;
    border: 1px solid #1B1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px; 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: #000000;
}

.form-data-alamat::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: #818181;
}

.kembali{
    padding-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: #DD2E44;

}

.garis-horizontal{
    margin-top: -270px;
    width: 583px;
    height: 0px;

    border: 1px solid #DBADAB;
    transform: rotate(90deg);
}

.right {
    margin-top: -284px;
    margin-right: 420px;
}

.metode {
    margin-top: 6px;
    margin-right: 25px;
    width: 170px;
    height: 32px;

    background: #FCFCFC;
    border: 1px solid #000000;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.info-tambah p{
    text-align: left;
    margin-left: 825px;
    position: absolute;
    width: 400px;
    height: 66px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.info-note {
    margin-right: -202px;
    width: 400px;
    height: 50px;
    background: #FCFCFC;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.biaya {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-right: 175px;
    background: linear-gradient(215.48deg, #FFFFFF -6.55%, #F0B3B3 105.06%);
    border: 1px solid #D16969;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.biaya h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.biaya p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #1B1B1B;
}

.harga {
    margin-top: -75px;
    margin-left: 330px !important;
}

.garis-vertikal{
    width: 399px;
    height: 0px;

    border: 1px solid #000000;

}
.harga-total{
    margin-top: -30px;
}

.biaya a {
    width: 155px;
    height: 36px;

    background: rgba(116, 24, 24, 0.51);
    border-radius: 4px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #FFFFFF;
    transition: all 0.2s ease;
}

.biaya a:hover {
    color: #f7dfde;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}

/* Tutup Info */

