/* Navbar */

.navbar {
    width: 1440px;
    height: 56px;
    background: #FFF2F2;
}

.navbar-brand {
    margin-left: 100px;
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.05em;

    color: #D16969 !important;
}

.nav-item .nav-link.active {
    font-family: 'Iowan Old Style';
    font-weight: 700;
    font-size: 18px;
    color: #FF6D6D !important;
}

.nav-item a{
    margin-top: 0px;
}

.navbar-nav {
    padding-right: 100px;
}

.nav-link {
    font-family: 'Iowan Old Style';
    font-weight: 400;
    font-size: 18px;

    color: #000000 !important;
}

.nav-link:hover {
    color: #FF6D6D !important;
}
/* Tutup Navbar */

/* breadcrumb */
.breadcrumb {
    margin-left: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #7D7D7D;

    background-color: #ffffff;

}

.breadcrumb a {
    color: #7D7D7D;
}
/* Tutup breadcrumb */

/* Produk detail */

.produk-detail {
    padding-left: 120px;
}

.nama-produk h5{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #741818;
}

.harga-produk p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    color: #741818;

}


/* rating */
.rating{
    padding-top: 20px;
    padding-left: 110px;
	transform: translate(-50%, -50%) rotateY(180deg);
	display: flex;
}
.rating input{
	display: none;
}
.rating label{
	display: block;
	cursor: pointer;
	width: 28px;
	/*background: #ccc;*/
}
.rating label:before{
	content:'\f005';
	font-family: fontAwesome;
	display: block;
	font-size: 25px;
	color: #101010;
}
.rating label:after{
	content:'\f005';
	font-family: fontAwesome;
    padding-top: 20px;
	position: absolute;
	display: block;
	font-size: 25px;
	color: #741818;
	top:0;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
	opacity: 1;
}

.produk-img-bulat{
    margin-top: 80px;
}
/* Tutup Product detail */

/* Rincian */

.rincian {
    padding-top: 50px;
    padding-left: 100px;
    background: #FFF2F2;
    padding-bottom: 30px;
}

.bentuk-varian {
    margin-top: 200px;
    margin-left: -430px;
}

.rinci h5 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;

}

.head-rinci h5 {
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: #741818;

}

.pgraph span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.pgraph p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}

.booking-site {
    width: 339px;
    height: 401px;

    border: 1.5px solid #741818;
}

.booking-site center {
    margin-top: 30px;
}
/* Tutup Rincian */

.left {
    margin-top: 20px;
    margin-left: 20px;
}

.quantity {
  margin-right: 60px;
}

.quantity input{
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  background-color: #FFF2F2;
}
 
.quantity button {
  width: 30px;
  height: 30px;
  background: #FFF2F2;
  border: 1px solid #B88383 !important;
  border-radius: 8px;
  color: #741818;
  border: none;
  cursor: pointer;
}

.image,
.quantity,
.description {
  width: 100%;
  margin: 6px 0;
}

.booking-site {
    margin-left: 200px;
}

.dropdown button{
    box-sizing: border-box;
    width: 123px;
    height: 28px;

    background: #ffffff;
    border: 1px solid rgba(116, 24, 24, 0.51);
    border-radius: 4px;

    padding-top: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: #000000;
}

.btn-submit {
    width: 116px;
    height: 41px;
    left: 1029px;
    top: 1219px;

    background: rgba(116, 24, 24, 0.51);
    border-radius: 6px;
    outline: none;
    transition: all 0.2 ease;

    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}

.btn-submit:hover {
    background: rgba(116, 24, 24, 0.51);
    outline: none;
    color: #741818;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Tutup Rincian */

/* Produk Favorit */
section.product-fav {
    margin-top: 50px;
    width: 1440px;
    height: 600px;

    background: linear-gradient(99.16deg, rgba(219, 173, 171, 0.3) 2.58%, #FFF2F2 49.74%, rgba(215, 168, 168, 0.69) 87.2%);
}

.bunga-fav {
    float: right;
    margin-top: -100px;
}

.favorit-head h5 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;

    color: #D16969;
}

.produk-unggulan {
    margin-left: 100px;
}

.produk-favorit {
    margin-left: -20px;
}

.product-text {
    width: 256px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: none;

    color: #741818;

}

.btn-look {
    width: 216px;
    height: 37px;

    background: #D16969;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    font-family: 'Nunito';
    padding-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;

    transition: all 0.2s ease;
    text-decoration: none;
}

.btn-look:hover {
    transform: scale(1.1);
    color: #FFFFFF;
    outline: none;
}

.product-text:hover{
    color: #741818;
}
/* Tutup Produk Favorit */

/* Footer */
.footer {
    padding-top: 50px;
    width: 1440px;
    height: 300px;

    background: #FFF2F2;

}

.footer-isi {
    margin-left: 102px;
}
 
.footer-right {
    margin-right: 225px;
}

.footer h2 {
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: -0.05em;

    color: #D16969;
}

.footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #222222;
}

.footer-list h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #D16969;
}

.footer-list a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #222222;
}

.footer-list p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #222222;
}

.copyright {
    width: 1440px;
    height: 42px;

    background: #741818;
    border-top: 1px solid #000000;
}

.copyright h5 {
    padding-top: 11px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
}
/* Tutup Footer */